.primaryButton {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 2.5px;
    background-color: green;
    color: white;

    border: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    font-weight: 600;
    font-size: 0.75rem;
}

.disable {
    opacity: 0.5;
    pointer-events: none;
}


.primaryButton:hover {
    scale: 1.07;
    box-shadow: 0 2px 2px rgba(100, 100, 100, 0.5);
}